<template>
  <div class="hello">
    <h1>{{ msg }}</h1>

      <div class="card">
        <div class="card-body">
            <h5 class="card-title">John Doe</h5>
            <h6 class="card-subtitle mb-2 text-muted">johndoe@example.cpm</h6>
            <p class="card-text">Wow this is not great!</p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
            <h5 class="card-title">Jane Doe</h5>
            <h6 class="card-subtitle mb-2 text-muted">janedoe@example.cpm</h6>
            <p class="card-text">Wow this is not great!</p>
        </div>
      </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
